/* You can add global styles to this file, and also import other style files */

.validation-error{
    color: red !important;
    font-size: 13px;
    margin: 0px;
}

.header-nav {
    a,a:hover {
        text-decoration: none;
    }
}

hr {
	border-top: 1px solid gray;
}