<header class="header-section">
    <a class="site-logo">
        <img src="../../../assets/img/logo-1.png" alt="">
    </a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a class="active" routerLink='/home'>Home</a></li>
            <li><a>MY Properties</a></li>
            <!--  <li><a >Buy</a></li>
            <li><a >Pages</a>
                <ul class="sub-menu">
                    <li><a >About Us</a></li>
                    <li><a >Search Result</a></li>
                    <li><a >Property</a></li>
                </ul>
            </li>
            <li><a>News</a></li>
            <li><a>Contact</a></li> -->
        </ul>
        <div class="header-right">
            <div class="user-panel">
                <a class="login">Welcome</a>
                <a (click)="logout()" class="register">Logout</a>
            </div>
        </div>
    </nav>
</header>

<section class="hero-section set-bg">
    <div class="container">
        <div class="hero-warp">
            <h3 class="heading">Coming Soon</h3>
        </div>
    </div>
    <br>
    <br>
</section>

<div class="footer-section">
    <div class="container">
        <div class="row text-white col-md-12 text-center">
           COPYRIGHT ©2022 ALL TokenLINX, Inc
        </div>
    </div>