<header class="header-section">
    <a class="site-logo">
        <img src="../../../assets/img/logo-1.png" alt="">
    </a>
    <nav class="header-nav">
        <ul class="main-menu">
            <li><a class="active" routerLink='/home'>Home</a></li>
            <li><a routerLink='/home/my'>MY Properties</a></li>
            <!--  <li><a >Buy</a></li>
            <li><a >Pages</a>
                <ul class="sub-menu">
                    <li><a >About Us</a></li>
                    <li><a >Search Result</a></li>
                    <li><a >Property</a></li>
                </ul>
            </li>
            <li><a>News</a></li>
            <li><a>Contact</a></li> -->
        </ul>
        <div class="header-right">
            <div class="user-panel">
                <a class="login">Welcome, {{userObj?.name}}</a>
                <a (click)="logout()" class="register">Logout</a>
            </div>
        </div>
    </nav>
</header>

<section class="hero-section set-bg" *ngIf="note?.id">
    <div class="container">
        <div class="hero-warp row">
            <div class="col-md-12">
                <h2 class="text-white">Property Details</h2>
                <hr>
            </div>
            <div class="col-md-5">
                <table class="table">
                    <tr>
                        <th>Account Number:</th>
                        <td>{{note.account_num}}</td>
                    </tr>
                    <tr>
                        <th>Legal Description:</th>
                        <td>{{note.legal_desc}}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{note.address}}</td>
                    </tr>
                    <tr>
                        <th>Owner name:</th>
                        <td>
                            <ng-container *ngIf="note.note_owner?.first_name">
                                {{note.note_owner?.first_name}}
                            </ng-container>
                            <ng-container *ngIf="note.note_owner?.last_name">
                                &nbsp;{{note.note_owner?.last_name}}
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <th>Property Status:</th>
                        <td>
                            <span class="badge bg-success" *ngIf="note.claim_by">Currently Owned</span>
                            <span class="badge bg-danger" *ngIf="!note.claim_by">Pending Identification</span>
                        </td>
                    </tr>
                    <ng-container *ngIf="note.notes_private">
                        <tr>
                            <th>
                                <hr>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                Number of Floors
                            </th>
                            <td>
                                {{note.notes_private.num_floors}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Roof Placed in
                            </th>
                            <td>
                                {{note.notes_private.roof_replaced_in}}
                            </td>
                        </tr>
                    </ng-container>
                    <tr *ngIf="!note.claim_by">
                        <th></th>
                        <td style="padding-top: 20px;">
                            <button class="btn btn-primary" (click)="claimNote()">Claim</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 map">
                <iframe
                    src="https://www.imersiongis.com/imersiongisclient/imgisMapLiteVer.jsp?srchId=ACCOUNT&srchVal=R100011&stateId=TX&countyName=MONTGOMERY&companyName=TokenLINX$&userId=tokenlinx"
                    frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <br>
    <br>
</section>

<app-footer></app-footer>